#team {
  background-color: green;
  i {
    color: red;
  }
  ul {
    display: flex;
    vertical-align: center;
  }
  img-circle {
    width: 150px;
    border: 50%;
  }
  h3 h1 {
    color: light;
  }
}
